google-cloud-storage
google-cloud-bigquery
google-cloud-aiplatform
google-auth
google-cloud-run
google-cloud-functions
google-cloud-core
google-api-python-client
google-cloud-secret-manager
google-adk
python-dotenv
pydantic
fastapi
serpapi
google-search-results
langchain
langchain-community
vertexai
uvicorn
